DEBUG=True
SECRET_KEY=django-insecure-twoj-klucz-testowy
ALLOWED_HOSTS=localhost,127.0.0.1,finance-aggregator.onrender.com
DATABASE_URL=sqlite:///db.sqlite3

# Dane superużytkownika
CREATE_SUPERUSER=True
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123