asgiref==3.11.1
async-timeout==5.0.1
certifi==2026.4.22
charset-normalizer==3.4.7
dj-database-url==3.0.1
Django==4.2.30
django-redis==6.0.0
gunicorn==23.0.0
idna==3.15
packaging==26.2
psycopg2-binary==2.9.12
python-dotenv==1.2.1
redis==7.0.1
requests==2.32.5
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.11.0
